html {
  background-color: #ffffff !important;
  filter: contrast(88%) brightness(64%) !important;
  margin: 0px;
}
body {
  background-color: #fff;
  min-height: 100vh;
  font-family: arial, sans-serif;
}
h1 {
  font-size: 30px;
}
